$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  md: 640px,
  lg: 768px,
  xl: 1400px,
);

$container-max-widths: (
  sm: 360px,
  md: 640px,
  lg: 768px,
  xl: 1400px,
);

$theme-colors: (
  "primary": #fc5b62,
  "grey": #f8f8f8,
  "secondary": #313233,
  "info": #ececea,
);
